# Initial files used to create initial .txt files used by 'fix_format'
*.xlsx
*.pdf

# Files created by 'fix_format', 'first_years' and 'subsequent_years' used to laod database data
data/*.csv
data/*.txt

# Information regarding database users
secret

# Untracked files
*.exe
*.out
rankings/.mvn
rankings/src/main/**/target/
rankings/src/test/**/target/
rankings/target
rankings/src/main/resources/static/icons